.App {
  text-align: center;
  h1 {
    color: #FFFFFF;
    font-size: 3rem;
    margin: 3% 0 2%;
  }
  h2 {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 5%;
  }
  .Main {
    width: 80%;
  }
}